<!DOCTYPE html>
<html>
<head>
  <title>Anshav Parmar - Audio</title>
</head>
<body>
  <h1>Audio Section</h1>
  <audio controls>
    <source src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/Track03.mp3" type="audio/mpeg">
    <source src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/Track03.ogg" type="audio/ogg">
    Your browser does not support the audio element.
  </audio>

  <p>This section contains an HTML5 audio player that allows you to listen to a selected audio track. You can use the controls on the player to play, pause, and adjust the volume. The audio source for this player is a track called "Track03" provided by Seneca College.</p>
</body>
</html>
