<!DOCTYPE html>
<html>
<head>
  <title>Anshav Parmar - List</title>
</head>
<body>
  <h1>Welcome to the List page!</h1>
  <h2>About Me</h2>
  <p>My name is Anshav Parmar. I am a student at Seneca College and I am pursuing Computer Programming course.</p>
  <h2>Nested List</h2>
  <ul>
    <li>Healthy Food
      <ol>
        <li>Apples</li>
        <li>Spinach</li>
        <li>Broccoli</li>
      </ol>
    </li>
    <li>Calories
      <ul>
        <li>Apples - 52 calories</li>
        <li>Spinach - 23 calories
          <li>Broccoli - 43 calories</li>
        </li>
      </ul>
    </li>
    <li>Nutrition
      <ol>
        <li>Apples - Good source of fiber and vitamin C</li>
        <li>Spinach - Rich in iron and vitamins A and K
          <li>Broccoli - Good for digestion</li>
        </li>
      </ol>
    </li>
  </ul>
</body>
</html>
