<!DOCTYPE html>
<html>
<head>
  <title>storefront</title>
</head>
<body>
  <h1>Storefront</h1>

  <div class="product-info">
    <h3 class="product-title">Carrot</h3>
    <iframe style="border-radius:12px" src="https://th.bing.com/th/id/OIP.VzS13Dyo0dldNjJdMPqUAgHaE7?pid=ImgDet&rs=1"></iframe>
    <p>$0.99</p>
    <button class="add-to-cart">Add to Cart</button>
  </div>
  </div>
  <div class="product-info">
    <h3 class="product-title">Carrot</h3>
    <iframe style="border-radius:12px" src="https://th.bing.com/th/id/OIP.VzS13Dyo0dldNjJdMPqUAgHaE7?pid=ImgDet&rs=1"></iframe>
    <p>$4.99</p>
    <button class="add-to-cart">Add to Cart</button>
  </div>
  
  <div class="product-info">
    <h3 class="product-title">Cabbage</h3>
    <iframe style="border-radius:12px" src="https://th.bing.com/th/id/R.a27dadd76e9fdab95ae0cc644747288e?rik=ssleN8vVhGXyCg&pid=ImgRaw&r=0"></iframe>
    <p>$6.99</p>
    <button class="add-to-cart">Add to Cart</button>
  </div>
  
  <div class="product-info">
    <h3 class="product-title">Pineapple</h3>
    <iframe style="border-radius:12px" src="https://th.bing.com/th/id/OIP.C9tz92IKscZnmwCfdACWCgHaMS?pid=ImgDet&rs=1"></iframe>
    <p>$3.68</p>
    <button class="add-to-cart">Add to Cart</button>
  </div>
     
  <div class="product-info">
    <h3 class="product-title">Orange</h3>
    <iframe style="border-radius:12px" src="https://www.vippng.com/png/full/71-714589_orange-fruit-png.png"></iframe>
    <p>$6.99</p>
    <button class="add-to-cart">Add to Cart</button>
  </div>
  
  <div class="product-info">
    <h3 class="product-title">Banana</h3>
    <iframe style="border-radius:12px" src="https://www.verywellfit.com/thmb/a4580FjTjbub9q4kI5m9X-Po-p0=/2002x1334/filters:no_upscale():max_bytes(150000):strip_icc()/Bananas-5c6a36a346e0fb0001f0e4a3.jpg"></iframe>
    <p>$2.99</p>
    <button class="add-to-cart">Add to Cart</button>
  </div>
  
  <div class="product-info">
    <h3 class="product-title">Apple</h3>
    <iframe style="border-radius:12px" src="https://th.bing.com/th/id/OIP.wlsduknizchQrGbfFfSyvgHaHa?pid=ImgDet&rs=1"></iframe>
    <p>$2.44</p>
    <button class="add-to-cart">Add to Cart</button>
  </div>
  
  <div class="product-info">
    <h3 class="product-title">Cherry</h3>
    <iframe style="border-radius:12px" src="https://th.bing.com/th/id/OIP.2uIsZG-Mbh8n7nQsJHS7JwHaJS?pid=ImgDet&rs=1"></iframe>
    <p>$5.76</p>
    <button class="add-to-cart">Add to Cart</button>
  </div>
  
  <div class="product-info">
    <h3 class="product-title">Watermelon</h3>
    <iframe style="border-radius:12px" src="https://th.bing.com/th/id/R.de998ddcf4f11122afb2b1c79de3a690?rik=5uLvhZCJbHEmZQ&pid=ImgRaw&r=0"></iframe>
    <p>$6.76</p>
    <button class="add-to-cart">Add to Cart</button>
  </div>
  
  <div class="product-info">
    <h3 class="product-title">Potato</h3>
    <iframe style="border-radius:12px" src="https://th.bing.com/th/id/OIP.eQmCwK3eXPx5SS2n9mQ5RAHaE-?pid=ImgDet&rs=1"></iframe>
    <p>$3.76</p>
    <button class="add-to-cart">Add to Cart</button>
  </div>
  
  <div class="product-info">
    <h3 class="product-title">Cauliflower</h3>
    <iframe style="border-radius:12px" src="https://th.bing.com/th/id/R.3d461f97d0185f3a84c9f584456acbd1?rik=C9VEl7pxxZhrDQ&pid=ImgRaw&r=0"></iframe>
    <p>$5.76</p>
    <button class="add-to-cart">Add to Cart</button>
  </div>

</body>
</html>
