<!DOCTYPE html>
<html>
<head>
  <title>Anshav Parmar - Table</title>
</head>
<body>
  <h1>Table Section</h1>
  <table>
    <caption>Favorite Books</caption>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Think and Grow Rich</td>
        <td>Napoleon Hill</td>
        <td>Classic</td>
      </tr>
      <tr>
        <td>Growth IQ</td>
        <td>Tiffani Bova</td>
        <td>Classic</td>
      </tr>
      <tr>
        <td>The Triangle</td>
        <td>Jennifer Victores</td>
        <td>Dystopian</td>
      </tr>
    </tbody>
  </table>

  <table>
    <caption>Favorite Movies</caption>
    <thead>
      <tr>
        <th>Title</th>
        <th>Director</th>
        <th>Genre</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>K.G.F Chapter-2</td>
        <td>Prashant Neel</td>
        <td>Action</td>
      </tr>
      <tr>
        <td>Bahubali-2 The Conclusion</td>
        <td>S.S Rajamouli</td>
        <td>Action</td>
      </tr>
      <tr>
        <td>The Pope's Exorcist</td>
        <td>Julius Avery</td>
        <td>Horror</td>
      </tr>
    </tbody>
  </table>

  <p>This section showcases two tables: one for favorite books and another for favorite movies. Each table consists of three columns: Title, Author/Director, and Genre. The tables are formatted using the elements, and the cells containing information about the respective books and movies.</p>
</body>
</html>

