<!DOCTYPE html>
<html>
<head>
  <title>Anshav Parmar - Video</title>
</head>
<body>
  <h1>Video Section</h1>
  <video controls>
    <source src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/movie.mp4" type="video/mp4">
    <source src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/movie.ogg" type="video/ogg">
    Your browser does not support the video element.
  </video>

  <p>This section contains an HTML5 video player that allows you to watch a selected video. You can use the controls on the player to play, pause, seek, and adjust the volume. The video source for this player is a movie provided by Seneca College.</p>
</body>
</html>

